{% extends "base.html" %}

{% block content %}
<div class="row my-2">
    <div class="col-md-5">
        <div class="card">
            <div class="card-header bg-primary">
                <h2 class="card-text text-light">My Profile:</h2>
            </div>
            <div class="card-body">
                <h4>Username: {{ object.username.capitalize}}</h4>
                {% if object.name %}
                <p>{{ object.anme }}</p>
                {% endif %}
                <hr>
                {% if object == request.user %}
                <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
                <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-mail</a>
                <a class="btn btn-primary" href="{% url 'users:subscription' request.user.username %}" role="button">My
                    Subscription</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}